@page
@model ToDoListWebApp.Pages.NewModel

<h1>New Task</h1>

<form method="post">
    <fieldset>
        Task Name:
        <input asp-for="ToDo.Task"/>
        <input type="submit"/>
    </fieldset>

</form>
